<!doctype html>
<html>
  <head>
    <title><%= shopName %> Survey Results</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Thank you for completing the survey!</h1>

    <h2>Your responses:</h2>
    <p><strong>First Name:</strong> <%= first %></p>
    <p><strong>Surname:</strong> <%= last %></p>
    <p><strong>Email:</strong> <%= email %></p>
    <p><strong>Age:</strong> <%= age %></p>
    <p><strong>Favourite Category:</strong> <%= category %></p>
    <p><strong>Are you a student?</strong> <%= student %></p>
  </body>
</html>
